.vscode
__pycache__
publication variants
test.cmd
test.py
emis automator/ДЗ
emis automator/КЛ
emis automator/config.json
emis automator/КТП.xlsx
emis automator/python314
smart clipboard/data.xlsx
emis automator/backup.json
emis automator/BACKUP_python314